.containerHeader {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  background-color: gray;
  padding: 5px;
  color: white;
  & > .links {
    margin: 15px;
    & > .linkHome {
      margin-right: 5px;
    }
  }
}